/* src/components/Navbar.module.css */
/* src/components/Navbar.module.css */
.navbar {
  background-color: #1A202C; /* Fundo azul marinho da nossa paleta */
  padding: 1.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais visível */
  position: sticky; /* Mantém o navbar no topo ao rolar a página */
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.linkLogo {
  color: #F7FAFC; /* Branco para a logo, para contrastar com o fundo */
  cursor: pointer;
  transition: color 0.3s ease;
}

.linkLogo:hover {
  color: #D69E2E; /* Efeito de destaque dourado ao passar o mouse */
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaço entre os links */
}

.link {
  color: #F7FAFC; /* Branco para os links, em contraste com o fundo */
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px; /* Cantos arredondados */
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.link:hover {
  color: #D69E2E; /* Cor de destaque ao passar o mouse */
  background-color: rgba(255, 255, 255, 0.05); /* Fundo sutil */
}

.link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #D69E2E; /* Acento dourado */
  transition: width 0.3s ease;
}

/* Efeito ao passar o mouse: a linha dourada aparece */
.link:hover::after {
  width: 70%;
}

/* Estilo para o link da página ativa */
.link.active {
  color: #D69E2E; /* Cor de destaque para o link ativo */
  font-weight: 600;
}

/* Garante que o link ativo tenha a linha de acento visível */
.link.active::after {
  width: 70%;
}

/* Responsividade */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}